.main-container.fullscreen {
  .fullscreen-background-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
  }

  &.gifs {
    .fullscreen-image {
      .fullscreen-image-img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        left: auto;
      }
    }
  }

  &.fullscreen-background {
    .fullscreen-image, .fullscreen-image-fading {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      .fullscreen-image-img {
        display: none;
      }
    }

    .fullscreen-image-fading.fading {
      z-index: 2;
      opacity: 0;

      &.next {
        z-index: 3;
      }

      &.current {
        z-index: 4;
        opacity: 1;
      }
    }
  }

  .fullscreen-image-fading.support {
    opacity: 0;
  }

  .fullscreen-image, .fullscreen-image-fading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .fullscreen-image-img {
      left: 0;
      transition: left 1s;
      z-index: 99;

      &.fading {
        opacity: 0;

        &.next {
          z-index: 998;
        }

        &.current {
          opacity: 1;
          z-index: 999;
        }
      }

      &.next {
        z-index: -1;
      }

      &.current {
        z-index: 999;
      }

      &.center {

      }

      &.left {
        left: -100%;
      }

      &.right {
        left: 100%;
      }

      &.force-left {
        left: initial;
        right: 100%;
      }

      &.force-right {
        left: initial;
        right: -100%;
      }
    }
  }

  @for $i from 1 through 100 {
    .fullscreen-control.show-help:nth-child(#{$i}) {
      background-color: rgba(random(200), random(200), random(200), 0.7);
    }
  }

  .fullscreen-control {
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &.title {
      left: 0;
      top: 0;
      z-index: 99999;
      color: white;
      margin-top: 2rem;
      margin-left: 2rem;
      display: none;

      &.show-help {
        display: block;
      }
    }

    .fullscreen-control-text {
      display: none;
      font-size: 5vw;
      color: white;
      text-align: center;
    }

    &.show-help {
      .fullscreen-control-text {
        display: block;
      }
    }

    &.message-box {
      padding: 1rem;
      font-size: 3rem;
      background-color: rgba(#ffffff, 0.7);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      white-space: nowrap;
    }
  }
}
