.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $header-height;
  padding: 0 1rem;
  border-bottom: 1px solid #737373;

  .controls-bar {
    display: flex;
    align-items: center;

    .home {
      line-height: 2rem;
      font-size: 1.3rem;
    }

    .control {
      margin: 0 .5rem;
      white-space: nowrap;
      line-height: 2rem;
      cursor: pointer;

      &.visited {
        color: $link-color;
      }
    }

    .history {
      width: 1.5rem;
      text-align: center;
      font-size: 1.5rem;
    }

    &.mobile {
      display: none;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      width: 200px;
      border-bottom: 1px solid #737373;
      border-right: 1px solid #737373;
      overflow: hidden;
      transition-timing-function: ease-out;
      transition: height .3s;
      height: 2rem;

      &.opened {
        height: 32rem;
        z-index: 2;

        .control {
          pointer-events: auto;
        }
      }

      .control {
        line-height: 2.5rem;
        font-size: 1.5em;
        pointer-events: none;
      }

      .switch-controls-bar {
        line-height: 2rem;
        pointer-events: auto;
      }
    }
  }

  .search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .search-input {
      width: 100%;
      min-width: 100px;
      max-width: 200px;
    }
  }
}

@media (max-width: 968px) {
  .header {
    .controls-bar {
      display: none;

      &.mobile {
        display: flex;
      }
    }

    .search {
      padding-left: 200px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 12px;

    .controls-bar.mobile {
      width: 150px;

      &.opened {
        height: 23rem;
      }

      .control {
        line-height: 1.75rem;
      }

      .switch-controls-bar {
        line-height: 2rem;
      }
    }

    .search {
      padding-left: 150px;
    }
  }
}
