@import 'vendor/reset';

@import 'variables';

@import 'common';
@import 'fullscreen';
@import 'header';
@import 'main-container';
@import 'navigation';
@import 'popup';
@import 'settings-menu';
@import 'tab-navigator';
@import 'wrapper';

a {
  text-decoration: none;
  color: $link-color;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}

img.full-width {
  width: 100%;
  height: auto;
}

img.keep-in-bounds {
  max-width: 100%;
  max-height: 100%;
}

html {
  height: 100%;
}

.grid-wrapper {
  height: 100%;
  width: 100%;
}

.masonry-grid {
  // display: flex;
  // flex-wrap: wrap;

  .item {
    margin: .5rem;
    max-width: 300px;
    max-height: 600px;
    float: left;

    .img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .next-srcs, .prev-srcs {
    padding: 1rem;
  }
}

.masonry-grid:after {
  content: '';
  display: block;
  clear: both;
}

.models-names-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;

  .model-name {
    font-size: 1.25rem;
    cursor: pointer;
    width: 25%;
    margin: 0.75rem 0;
  }
}

.models-names-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
  width: 90%;

  .model-name-letter {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
  }
}

.images-count, .open-all-images {
  text-align: center;
  margin: 0.5rem 0;
  color: $link-color;
}

.images-count {
  cursor: pointer;
  font-size: 1.5rem;
}

.open-all-images {
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  display: none;
}
