.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: .25rem;
  padding-top: .25rem;

  .thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    margin-bottom: .5rem;
    overflow: hidden;

    .thumb-link {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .thumb-img.dimmed {
        opacity: 0.1;
      }
    }
  }

  &.gifs {
    .thumb {
      display: block;
      text-align: center;
      height: auto;

      .thumb-link {
        display: inline;

        .thumb-img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .image {
    margin-top: .5rem;

    .image-download-link {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .open-new-keywords-btn {
    padding-top: 1rem;
    font-size: 2rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }

  .keywords {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    width: 100%;

    &.common-keywords.hidden .keyword {
      display: none;
    }

    .keyword {
      text-align: center;
      font-size: 2rem;
      margin: .25rem .5rem;

      &.visited {
        color: $link-visited-color;

        &:hover {
          color: $link-hover-color;
        }

        &:active {
          color: $link-active-color;
        }
      }

      &.opened-tab {
        color: #44BBA4;

        &:hover {
          color: $link-hover-color;
        }

        &:active {
          color: $link-active-color;
        }
      }
    }

    &.border {
      border-bottom: 1px solid $link-color;
    }
  }

  .tumblr-sources {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    width: 100%;
    font-size: 2rem;
    color: $link-color;

    .tumblr-source {
      cursor: pointer;
      margin: 0 0.5rem;
    }
  }

  .similar-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
