.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: .5rem 0;

  .box {
    margin: .25rem 1rem;

    .link {
      display: block;
      height: 100%;
      font-size: 1.6rem;
      text-align: center;

      &.current {
        color: #ff3cfd;
        pointer-events: none;
      }
    }
  }
}
