#popup {
  position: fixed;
  margin: 0;
  padding: 1vw;
  font-size: 6vw;
  background-color: rgba(122, 122, 122, 0.7);
  color: white;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  pointer-events: none;
}
