.settings-menu {
  position: fixed;
  max-height: 75%;
  top: 0px;
  right: -1px;
  border-left: 1px solid #737373;
  border-bottom: 1px solid #737373;
  background-color: #fff;
  padding: 1em;
  overflow-y: auto;
  z-index: 3;
  font-size: 20px;

  &.disabled {
    visibility: hidden;
  }

  .fixed-close {
    position: fixed;
    right: 0;
    top: 0;
    height: 1em;
    width: 1em;
    font-size: 2em;
    line-height: 1em;
    background-color: white;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    text-align: center;
  }

  .group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;
  }

  .label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .text {
      width: 10em;
      margin-right: 0.5em;
      display: flex;
      align-items: center;
    }

    .input-text {
      // width: 200px;
      width: 5em;
      height: 2em;
      border: 1px solid gray;
      padding: 0 0.5em;
    }

    .select {
      width: 10em;
      height: calc(2em + 2px);
      border: 1px solid gray;
      padding: 0 0.5em;
    }

    .range {
      width: 10em;
    }

    .value {
      margin-left: .5em;
    }

    .confirmation-button {
      margin-left: 1em;
      width: 2em;
      line-height: 1em;
      font-size: 1em;
      padding: 0;
      vertical-align: middle;
      text-align: center;
    }
  }

  .checkbox {
    margin-right: 1em;
  }

  .button-group {
    .button {
      font-size: 1em;
    }
  }
}

@media (max-width: 480px) {
  .settings-menu {
    font-size: 14px;
  }
}
