.tab-navigator {
  position: fixed;
  background-color: none;
  transition-timing-function: ease-out;
  justify-content: flex-start;
  z-index: 1;

  .tab-outer-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .tab-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;

      .tab-index {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: .8rem;
        color: $link-color;
      }

      .batch-control {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $link-color;
        cursor: pointer;
        font-size: 2rem;

        &.disabled {
          pointer-events: none;
          opacity: 0.25;
        }
      }
    }
  }

  .tab {
    position: relative;
    // padding: 1.75rem .75rem .75rem .75rem;
    // display: flex;
    align-items: center;
    justify-content: center;
    max-width: $tab-navigator-max-width;
    max-height: $tab-navigator-max-height;
    overflow: hidden;

    .tab-close {
      position: absolute;
      height: 1.5rem;
      width: 1.5rem;
      line-height: 1.5rem;
      font-size: 1.25rem;
      text-align: center;
      color: $link-color;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    .tab-link {
      cursor: pointer;

      .tab-title {
        text-align: center;
        margin-bottom: .5rem;
        color: $link-color;
        max-height: 2rem;
        overflow: hidden;
      }
    }

    &.current {
      background-color: $tab-navigator-current-tab;
    }
  }

  .close-tab-navigator {
    position: absolute;
    width: $close-tab-navigator-size;
    height: $close-tab-navigator-size;
    line-height: $close-tab-navigator-size;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    color: $link-color;
  }

  &.top, &.bottom {
    .tab-link {
      display: flex;
      flex-direction: column;
      max-height: 100%;

      .tab-title {
        min-height: 1rem;
        max-height: 1rem;
      }

      .image-wrapper {
        display: flex;
      }
    }
  }

  &.top {
    right: 0;
    left: 0;
    height: 33%;
    transition: top .3s;
    border-bottom: $tab-navigator-border;
    max-height: $tab-navigator-max-height;
    flex-direction: row;

    .tab-wrapper {
      display: flex;

      .batch-control {
        &.previous, &.next {
          width: 3rem;
        }
      }
    }

    .tab {
      min-width: 200px;
      width: 200px;
    }

    .close-tab-navigator {
      bottom: -$close-tab-navigator-size;
      border-bottom: $tab-navigator-border;

      &.left-top {
        left: 0;
        border-right: $tab-navigator-border;
      }

      &.right-bottom {
        right: 0;
        border-left: $tab-navigator-border;
      }
    }

    &.hidden {
      top: $tab-navigator-hide-distance;
    }

    &.visible {
      top: 0;
    }
  }

  &.right {
    top: 0;
    bottom: 0;
    width: 33%;
    transition: right .3s;
    border-left: $tab-navigator-border;
    max-width: $tab-navigator-max-width;
    flex-direction: column;

    .tab-wrapper {
      .batch-control {
        &.previous, &.next {
          height: 3rem;
          line-height: 3rem;
        }
      }
    }

    .close-tab-navigator {
      left: -$close-tab-navigator-size;
      border-left: $tab-navigator-border;

      &.left-top {
        top: 0;
        border-bottom: $tab-navigator-border;
      }

      &.right-bottom {
        bottom: 0;
        border-top: $tab-navigator-border;
      }
    }

    &.hidden {
      right: $tab-navigator-hide-distance;
    }

    &.visible {
      right: 0;
    }
  }

  &.bottom {
    right: 0;
    left: 0;
    height: 33%;
    transition: bottom .3s;
    border-top: $tab-navigator-border;
    max-height: $tab-navigator-max-height;
    flex-direction: row;

    .tab-wrapper {
      display: flex;

      .batch-control {
        &.previous, &.next {
          width: 3rem;
        }
      }
    }

    .tab {
      min-width: 200px;
      width: 200px;
    }

    .close-tab-navigator {
      top: -$close-tab-navigator-size;
      border-top: $tab-navigator-border;

      &.left-top {
        left: 0;
        border-right: $tab-navigator-border;
      }

      &.right-bottom {
        right: 0;
        border-left: $tab-navigator-border;
      }
    }

    &.hidden {
      bottom: $tab-navigator-hide-distance;
    }

    &.visible {
      bottom: 0;
    }
  }

  &.left {
    top: 0;
    bottom: 0;
    width: 33%;
    transition: left .3s;
    border-right: $tab-navigator-border;
    max-width: $tab-navigator-max-width;
    flex-direction: column;

    .tab-wrapper {
      .batch-control {
        &.previous, &.next {
          height: 3rem;
          line-height: 3rem;
        }
      }
    }

    .close-tab-navigator {
      right: -$close-tab-navigator-size;
      border-right: $tab-navigator-border;

      &.left-top {
        top: 0;
        border-bottom: $tab-navigator-border;
      }

      &.right-bottom {
        bottom: 0;
        border-top: $tab-navigator-border;
      }
    }

    &.hidden {
      left: $tab-navigator-hide-distance;
    }

    &.visible {
      left: 0;
    }
  }
}
