$link-color: #ff9100;
$link-visited-color: #0055b9;
$link-hover-color: #ffe600;
$link-active-color: #0066de;

$header-height: 2rem;
$tab-navigator-border: 1px solid #EC9A29;
$close-tab-navigator-size: 2rem;
$tab-navigator-hide-distance: -100%;
$tab-navigator-current-tab: #023B2C;
$tab-navigator-max-width: 200px;
$tab-navigator-max-height: 200px;
